.container > p > a {
    text-decoration: underline;
    color: #f8f9fa;
}

.container> p > a:hover {
    cursor: pointer;
}

#feature {
    text-align: left;
}

#feature > li {
    margin-bottom: 50px;
}

#feature > li > h2 {
    padding-left: 10px;
}
