body {
    background-color: #212121;
    margin-bottom: 50px;
}

.text-light {
    color: #f8f9fa!important;
}

.navbar {
    background-color: #343A40;
}

.container {
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}