table {
    border: #454d55 1px solid;
    text-align: center;
    width: 100%;
    border-spacing: 0;
}

.table-responsive {
    overflow-x: auto;
    white-space: nowrap;
}


th {
    padding : 5px;
    font-weight: bold;
    border-bottom: #454d55 2px solid;
}

.idx {
    font-weight: bold;
    width: 10%;
}

td {
    border-bottom: #454d55 1px solid;
}

table > thead > tr {
    background-color: #0A2D61;
}

table > tbody > tr:nth-child(odd) {
    background-color: #212121;
}

table > tbody > tr:nth-child(even) {
    background-color: #2F2F2F;
}

.text-win {
    color: #f08080;
}

.text-lose {
    color: #87ceeb;
}

.text-draw {
    color: #90ee90;
}


input:focus, select:focus {
    outline: skyblue solid 1px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.justify-content-end {
    justify-content: flex-end!important;
}

.page-item {
    list-style: none;
    float: left;
    box-sizing: border-box;
}

div > .form-inline {
    float: left;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center!important;
}

#page-num-form {
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: start;
    width: 60px;
}

.page-item {
    display: list-item;
    text-align: -webkit-match-parent;
}

.page-item > button:hover {
    cursor: pointer;
}

div > ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

#indicator-prev, #indicator-next {
    border-radius: 0%;
    border-top: #e5e5e5 1px solid;
    border-bottom: #e5e5e5 1px solid;
}

#indicator-prev:disabled, #indicator-next:disabled {
    color: #a8a8a8!important;
}

#indicator-prev {
    border-left: #e5e5e5 1px solid;
    border-right: #e5e5e5 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#indicator-next {
    border-right: #e5e5e5 1px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}