table {
    border: #454d55 1px solid;
    text-align: center;
    width: 100%;
    border-spacing: 0;
}

th {
    padding : 5px;
    font-weight: bold;
    border-bottom: #454d55 2px solid;
}

.idx {
    font-weight: bold;
    width: 10%;
}

td {
    border-bottom: #454d55 1px solid;
}

table > thead > tr {
    background-color: #0A2D61;
}

table > tbody > tr:nth-child(odd) {
    background-color: #212121;
}

table > tbody > tr:nth-child(even) {
    background-color: #2F2F2F;
}

.text-win {
    color: #f08080;
}

.text-lose {
    color: #87ceeb;
}

.text-draw {
    color: #90ee90;
}


input:focus, select:focus {
    outline: skyblue solid 1px;
}